html, body {
  margin: 0;
  padding: 0;
}

canvas {
  display: block;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  text-align: center;
  padding: 30px;
}

.header img {
  width: 250px;
  height: auto;
}

/* Header styles for screens 600px or narrower */
@media screen and (max-width: 600px) {
  .header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
    padding: 10px;
  }

  .header img {
    width: 200px;
    height: auto;
  }
}

body {
  font-family: Arial, sans-serif;
  background-image: url(../img/background.webp);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: #f2f2f2; /* dark gray */
}

form {
  background-color: #333333;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 2px 2px #1b1b1b;
  width: 300px;
  margin: 0 auto;
}

label {
  display: block;
  margin-bottom: 8px;
  font-size: 1rem;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #676767;
  background-color: #414141;
  border-radius: 5px;
  color: #ffffff;
  box-sizing: border-box;
}

input[type="text"]:focus,
input[type="password"]:focus {
  outline: none;
  border: 1px solid #4A90E2; /* custom blue */
  box-shadow: 0 0 3px #4A90E2; /* custom blue */
}


input[type="submit"] {
  background-color: #FFA500;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  display: block;
  margin: 0 auto;
  font-weight: bold;
}

input[type="submit"]:hover {
  background-color: #f09c01;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  color: white;
  padding: 10px;
}

.footer > p {
  text-shadow: 0px 1px 1px #1b1b1b;
}